@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow-x: hidden; /* Prevent horizontal scrolling */
  scroll-behavior: smooth
}

@media (max-width: 1500px) {
  html {
      font-size:57.25%
  }
}

@media (max-width: 1200px) {
  html {
      font-size:50%
  }
}

@media (max-width: 770px) {
  html {
      font-size:43.75%
  }
}

@media (max-width: 615px) {
  html {
      font-size:40%
  }
}

@media (max-width: 350px) {
  html {
      font-size:35%
  }
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
}

p {
  font-size: 20px;
  color: white;
  text-align: center;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none; /* Remove underline if needed */
}

/* general section css goes here */

section {
  align-items: center;
  display: flex;
  width: 100%;  
  min-height: 100vh;
  flex-direction: column;
}

.section_title {
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  color: white;
  height: 25vh;
}

#about_sec_title{
  text-decoration: underline dotted #483eff;
}

#proj_sec_title{
  text-decoration: underline dotted #483eff;
}

/* title goes here */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* about */
.about_area{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}
@media (max-width: 1000px) {
  .about_area {
    flex-direction:column
  }
  .project_num{
    flex-direction: column;
  }
}

.aboutleft{
  width: 80%;
  justify-content: center;
  /* to prevennt stars from overlapping the images */
  z-index: 10;
}


.pfp{
width: 30%;
justify-content: flex-start;
align-items: center
}


.aboutText{
  line-height: 1.8;
  font-size: 1.25rem;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}

/* skills */
.skills{
  width: 50%;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.skills_List{
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

.skills_List:not(:last-child) {
  margin-right: 25px
}

.skills_item{
  border: 2.5px solid #ffffff;
  border-radius: 5px;
  margin-top: 25px;
  width: 10rem;
}

.skill_img{
  width: 70%;
  height: 70%;
}

@media (max-width: 900px) {
  .skills{
    justify-content: center;
  }
  .skills_item{
    width: 12rem;
  }
  .skill_name{
    font-size: 2rem;
  }
}

/* navbar */
.nav_bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #1a1a1a;
  background-color: rgba(40,40,40,0.95);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  z-index: 99999999999
}

.nav_bar_group {
  display: flex;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 50;
  letter-spacing: 1px;
  color: #ffffff;
}

.nav_bar_item--active {
  color: #483eff;
}

.nav_bar_item:hover{
  color: #483eff;
}

.nav_bar_item:not(:last-child) {
  margin-right: 3rem
}

/* project */
.project_sections{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.project_num{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.project_left{
  width: 40%;
  justify-content: center;
  display: flex;
  /* to prevennt stars from overlapping the images */
  z-index: 10;
}

.proj_info{
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}
.proj_title{
font-weight: bold;
 font-size: 1.5rem;
 width: 100%;
}

.proj_text{
  font-size: 1rem;
  width: 100%;
  line-height: 1.5;
  margin-top: 5%;
}
.proj_info_link{
  margin-top: 2.5%;
  border: 5px solid #483eff;
  border-radius: 2px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.project_right{
  width: 80%;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.proj_img_box{
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project_img{
  width: 100%;
  height: 100%;
}
  
@media (max-width: 1000px) {
  .project_num{
    flex-direction: column;
  }
  .project_left{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .proj_info{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }  
  .proj_text{
    width: 100%;
  }
  .proj_title{
    width: 100%;
  }
}


/* links for contacts */
.links {
  background-color: #2c2b2b;
  display: block;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 40vh;
}

.contact{
  display: block;
  grid-template-rows: 1fr 1fr 1fr;
}

.image-container {
  display: inline-block;
  width: 100%;
  text-decoration: underline #2c2b2b;
}

.link_img:hover {
  transform: scale(1.2);
}

/* buttons to navigate */
.about_btn {
  border: 5px solid #483eff;
  border-radius: 10px;
  background-color: inherit;
  text-align: center;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  color : #483eff;
}

.button_text{
  text-align: center;
  font-size: 16px;
  line-height: 30px; 
  color: rgb(255, 255, 255);
  transition: all .6s ease-out;
  display: block;
}

.button_text:hover{
  color: #f7ff0c; 
}

/* small devices */
@media (min-width: 301px) and (max-width: 501px) {
  .aboutText{
    font-size: 2rem;
    width: 100%;
  }

  /* nav */
  .nav_bar_group{
    font-size: 1.5rem;
  }
  /* proj */
  .section_title{
    height: 15vh;
  }
  .project_left{
    width: 100%;
  }
  .proj_title{
    width: 100%;
    font-size: 2.5rem;
  }
  .proj_text{
    font-size: 2rem;
  }
  .proj_info_link{
    font-size: 2rem;
  }
  .project_right{
    width: 90%;
  }
  .proj_img_box{
    width: 100%;
  }
}

/* medium devices */
 @media (min-width: 501px) and (max-width: 900px) {
  .aboutText{
    font-size: 2.5rem;
  }

  /* nav */
  .nav_bar_group {
    margin-left: auto;
    margin-right: auto;
  }
  .nav_bar {
    height: 6rem;
  }
  .nav_bar_group{
    font-size: 2rem;
  }
  /* proj */
  .projects{
    min-height: 80vh;
  }
  .section_title{
    height: 15vh;
  }
  .project_left{
    width: 100%;
  }
  .proj_title{
    width: 100%;
    font-size: 2.5rem;
  }
  .proj_text{
    font-size: 2rem;
  }
  .proj_info_link{
    font-size: 2rem;
  }
  .project_right{
    width: 90%;
  }
  .proj_img_box{
    width: 100%;
  }
}

/* large devices */
@media (min-width: 901px) and (max-width: 1500px) {
  .about{
    min-height: 90vh;
  }
  .aboutText{
    font-size: 2rem;
  }

  /* nav */
  .nav_bar_group {
    margin-left: auto;
    margin-right: auto;
  }
  .nav_bar {
    height: 8rem;
  }
  .nav_bar_group{
    font-size: 2rem;
  }

  /* skills */
  .skills{
    justify-content: center;
  }
  .skills_item{
    width: 15rem;
  }
  .skill_name{
    font-size: 3rem;
  }

  /* proj */
  .projects{
    min-height: 100vh;
  }
  .section_title{
    height: 15vh;
  }
  .proj_title{
    width: 100%;
    font-size: 2.5rem;
  }
  .proj_text{
    font-size: 2rem;
  }
  .proj_info_link{
    font-size: 2rem;
  }
}

/* large devices */
@media (min-width: 2000px) {
  /* about */
  .aboutText{
    font-size: 2rem;
  }
  .skills_item{
    width: 20rem;
  }
  .skill_name{
    font-size: 2rem;
  }

  /* nav */
  .nav_bar {
    height: 12rem;
  }
  .nav_bar_group{
    font-size: 3rem;
  }
  .section_title{
    font-size: 10rem;
  }

}

/* below is for the name animation */
h1 {
  font-size: 25px;
  text-align: center;
  border-radius: 1;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 10;
}

h2 {
  text-align: center;
  font-size: 75px;
  border-radius: 1;
  padding: 0;
  margin: 0;
  border: 0;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  position: relative;
  z-index: 10;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

span:nth-child(1) {
  animation: fade-in 2s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 2s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 2s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 2s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 2s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.name2 span2 {
  display: none;
  animation: mover 2s infinite;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.name2 span2:nth-child(1) {
  animation-delay: 100ms;
}

.name2 span2:nth-child(2) {
  animation-delay: 300ms;
}

.name2 span2:nth-child(3) {
  animation-delay: 500ms;
}

.name2 span2:nth-child(4) {
  animation-delay: 700ms;
}

.name2 span2:nth-child(5) {
  animation-delay: 900ms;
}

/* stars animation*/

#stars, #stars2, #stars3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 0;
  height: 300%;
  width: 300%;
}

#stars {
  width: 1px;
  height: 1px;
  box-shadow: var(--shadows-small);
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--shadows-small);
}

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: var(--shadows-medium);
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: var(--shadows-medium);
}

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow: var(--shadows-big);
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: var(--shadows-big);
}

@keyframes animStar {
  from { transform: translateY(0px); }
  to { transform: translateY(-2000px); }
}